/* Navbar top */
.navTop {
	width: 100%;
	background-color: #F0F0F0;
	height: 35px;
	/* max-height: auto; */
	font-weight: normal;
	font-size: 15px;
}
/* .navTopRow{
    margin-left: -20px !important;
    margin-right: -20px !important;
} */
.navTopIconList{
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navTopIconList li {
	display: table-cell;
	padding: 10px 20px 0px 0px;
	vertical-align: top;
	line-height: 0;
	color: #355875;
	font-weight: bold;
}
.navTopIconList li a {
	font-size: 16px;
	color: #355875;
	padding: 0;
	margin: 0;
	transition: font-size 0.1s;
}
.nav-top-phone {
	font-size: 14px;
	color: #22384A;
}
.nav-top-whatsapp {
	font-size: 18px;
	background-color: inherit;
	color: #0E9805;
	margin-left: 8px;
}
/* .navTopIconList li a:hover{
    color: red;
    padding: 0px;
    margin-left: -3px;
    font-size: 25px;
} */
.fb:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #4160A3;
}
.in:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #0077B5;
}
.tw:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #1DA1F2;
}
.pt:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #B7081B;
}


.navTopContact{
    margin: 0 0 0 5px;
    float: left;
}
.navTopContact span {
	cursor: pointer;
	float: left;
	vertical-align: baseline;
	color: #3A607E;
	font-size: 16px;
	padding: 5px 2px 0px 0px;
	font-weight: bold;
}

/* .navTopRight {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 17px;
} */
.navTopRight {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 17px;
	font-weight: bold;
	color: #3A607E;
}
.navTopRight li {
    cursor: pointer;
	display: table-cell;
	padding: 16px 15px 0px 0px;
	vertical-align: top;
	line-height: 0;
}
.navTopRight li span {
	cursor: pointer;
	color: #183153;
	font-size: 30px;
	float: right;
	margin-top: -20px;
}
.dropdown-toggle-nav-top {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	border-radius: 0 !important;
	line-height: normal !important;
	color: none !important;
	font-size: 0 !important;
	background: none !important;
}
.dropdown-header-pic{
	width: 100% !important;
	/* height: 100% !important; */
	/* margin: 0 auto; */
}
.dropdown-header-pic span{
    padding-top: 15px;
    width: 120px !important;
	height: 130px !important;
	margin: 5px auto;
}
.dp-item {
	height: 30px;
	width: 95% !important;
	color: #fff !important;
	background: gray !important;
	border-radius: 10px;
	margin: 1px auto;
	font-size: 14px;
	font-weight: 701 !important;
}


/* .navBottom{
    width: 100%;
    min-height: 55px; 
    max-height: auto;
} */
/* .row{
    margin-left: -45px !important;
    margin-right: -30px !important;
} */

/* .navBottomLeft{
    text-align: left;
}
.navBottomRight{
    margin-top: 10px;
    text-align: right;
    font-size: 35px;
} */


/* New Nav */
/* .modal-icon{
    border-inline-end-style: none !important;
    display: block !important;
    font-size: 30px !important;
    color: black !important;
} */


.modal-icon{
    font-size: 30px !important;
    /* color: black !important; */
    display: block !important;
}
.modal-icon-responsive{
    font-size: 30px !important;
    /* color: black !important; */
}
.navbar-toggler:focus {
	box-shadow: none !important;
}
/* .navbar-nav{
    list-style: none !important;
} */
.nav-item{
    margin-right: 20px;
}
/* .nav-item a{
    text-decoration: none;
} */
.NavLink{
    font-size: 17px;
    text-decoration: none;
}
.NavLink:hover {
	color: #FC2803 !important;
	text-shadow: 1px 1px 1px #FF0000;
}
.active {
	color: #FC2803 !important;
	text-shadow: 0px 1px 0px #FF0000;
}


/* Signup Modal */
.signupModal{
    --bs-modal-width: 600px !important;
}


/* Responsive */
@media only screen and (max-width:428px){
    .nav-top-left {
        width: 70% !important;
    }
    .nav-top-right {
        width: 30% !important;
    }
    .nav-top-left-icons{
        display: none;
    }
    .navTopContact{
        margin-left: 0px;
        float: left;
    }
    .navTopContact span{
        float: left;
        vertical-align: baseline;
        color: #333;
        font-size:14px;
        padding: 5px 2px 0px 0px;
    }
    .nav-top-phone{
        font-size:13px;
    }
    .nav-top-whatsapp{
        font-size:14px;
    }
    .navTopRight li{
        padding: 15px 8px 0px 0px;
        font-size: 14px;
    }
}


