/* Navbar top */
.navTop{
    width: 100%;
    background-color: #F0F0F0;
    max-height: 30px; 
    /* max-height: auto; */
    font-weight:normal; 
    font-size:15px;
}
/* .navTopRow{
    margin-left: -20px !important;
    margin-right: -20px !important;
} */
.navTopIconList{
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navTopIconList li{
    display: table-cell;
    padding: 10px 20px 0px 0px;
    vertical-align: top;
    line-height: 0;
    /* transition: padding 0.1s; */
}
.navTopIconList li a{
    font-size: 15px;
    color: #999;
    padding: 0;
    margin: 0;
    transition: font-size 0.1s;
}
/* .navTopIconList li a:hover{
    color: red;
    padding: 0px;
    margin-left: -3px;
    font-size: 25px;
} */
.fb:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #4160A3;
}
.in:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #0077B5;
}
.tw:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #1DA1F2;
}
.pt:hover{
    padding: 0px;
    /* font-size: 25px; */
    color: #B7081B;
}


.navTopContact{
    margin: 0 0 0 5px;
    float: left;
}
.navTopContact span{
    float: left;
    vertical-align: baseline;
    color: #333;
    font-size:15px;
    padding: 5px 5px 0px 0px;
}


.navTopRight{
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navTopRight li{
    display: table-cell;
    padding: 15px 15px 0px 0px;
    vertical-align: top;
    line-height: 0;
}


/* .navBottom{
    width: 100%;
    min-height: 55px; 
    max-height: auto;
} */
/* .row{
    margin-left: -45px !important;
    margin-right: -30px !important;
} */

/* .navBottomLeft{
    text-align: left;
}
.navBottomRight{
    margin-top: 10px;
    text-align: right;
    font-size: 35px;
} */


/* New Nav */
/* .modal-icon{
    border-inline-end-style: none !important;
    display: block !important;
    font-size: 30px !important;
    color: black !important;
} */


.modal-icon{
    font-size: 30px !important;
    /* color: black !important; */
    display: block !important;
}
.modal-icon-responsive{
    font-size: 30px !important;
    /* color: black !important; */
}
.navbar-toggler:focus {
	box-shadow: none !important;
}
/* .navbar-nav{
    list-style: none !important;
} */
.nav-item{
    margin-right: 20px;
}
.nav-item a{
    text-decoration: none;
}
