.footer{
    width: 100%;
    /* height: 35px; */
    padding-top: 10px;
    display: inline-block;
    margin-bottom: -10px;
    color: #9DA6A6;
    background-color: #1C2E3D;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
}

/* Responsive */
@media only screen and (max-width:428px){
    .footer{
        text-align: center;
    }
    .footer-left{
        float: none;
    }
    .footer-right{
        float: none;
    }
}