.all-service {
	width: 100%;
	padding: 40px 0;
	/* overflow: hidden; */
}
.all-service h3{
	color: #383838;
    text-align: center;
	font-weight: bolder;
	font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4A4A4A;
}
.service{
	transition: all ease-in-out 0.4s;
}
.service-body {
	padding: 15px 0 0 0 !important;
}
.service img{
	height: auto;
	/* -webkit-transition: -webkit-transform .8s ease-in-out; */
	transition: transform .8s ease-in-out;
	margin: 0 auto;
}
.service:hover{
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 1);
	margin-top: 9px !important;
}
.service img:hover{
	transform: rotate(360deg);
}
.all-service button {
	width: 300px;
	padding: 5px 10px;
	background-color: #1C2E3D;
	border: 1px solid #6C7B82;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	color: #f1f1f1;
	border-radius: 10px;
}
.all-service button:hover {
	/* background-color: #6C7B82; */
	/* border: 1px solid #808080; */
	box-shadow: 0px 1px 1px 1px #1C2E3D;
	color: #CD3932;
}

/* Tooltip */
.tooltip-gallery{
	position: relative;
}
.tooltip-gallery .tooltip-gallery-text {
    width: 186px;
    background-color: #1c2e3d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -93px;
    font-weight: 700;
    font-size: 19px;
}
.tooltip-gallery .tooltip-gallery-text::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
/* .tooltip-gallery:hover .tooltip-gallery-text{
	visibility: visible;
} */
